/* style.css */

/* Navbar */
/* ... */

/* Main content area */
.container {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.patient-list li {
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;
}

.patient-list li:hover {
    text-decoration: underline;
}

.patient-details {
    margin-top: 20px;
}

.patient {
    display: none;
}

/* OGTT Chart */
canvas {
    width: 100% !important;
    height: 400px !important;
}

/* Predict Button */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#prediction-result-1,
#prediction-result-2,
#prediction-result-3,
#prediction-result-4,
#prediction-result-5 {
    margin-top: 10px;
    font-size: 18px;
    color: #007bff;
}

/* Footer */
/* ... */

/* Additional styles for drug search and animations */
.side-services a {
    font-weight: 100;
    color: #007bff;
    font-size: 22px;
    padding: 10px;
    text-decoration: underline;
}

/* my ng animate style */
.view-animate-container {
    position: relative;
    background: #f7f7f7;
    overflow-x: hidden;
    height: 1000px;
    overflow-y: auto;
}

.view-animate {
    padding: 10px;
}

.view-animate.ng-enter,
.view-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}
